@import 'helpers';

/**
 * Bootstrap font size maker - utility for 
 * @param decimal|int $fontSizeStart
 * @param decimal|int $fontSizeEnd
 * @param decimal|int $step
 * @param string $separator
 * @param string $fontUnit
 */
 @mixin bootstrap-font-size-maker($fontSizeStart: 0.1,  $fontSizeEnd: 5, $step: 0.1, $separator: '_', $fontUnit: 'rem') 
 {
     @each $breakpoint in map-keys($grid-breakpoints) 
     {
        @include media-breakpoint-up($breakpoint) 
        {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
            $i: $fontSizeStart;
            @while $i <= $fontSizeEnd
            {
               $iSafe: str-replace(to-string($i), '.', $separator);
               
               .fs#{$infix}-#{$iSafe}
               {
                   font-size: #{$i}#{$fontUnit};
               }
               
               $i: $i + $step;
            }
        
        }
    }
 
 }